

body{
    background-color: rgb(15, 15, 74);
}

h1{
    color: rgb(33, 170, 12);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    font-size: 100px;
    font-family: sans-serif;
}

p{
    color: white;
    font-size: 50px;

}

#placarPlayer,#placarPC {
    color: khaki;
    font-size: 50px;
}

#divPai{
    display: flex;
}

#div1{
    width: 400px;
}

#div2{
    width: 1000px;
    text-align: center;
    
}


.botoes{
    color: rgb(164, 196, 22);
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    border: 1px solid;
    font-size: 20px;
}

@media screen and (max-width:1269px) {
    h1{
        font-size: 80px;
    }
    p{
        font-size: 40px;
    }
}


@media screen and (max-width:961px) {
    h1{
        font-size: 70px;
    }
    p{
        font-size:30px;
    }
}

@media screen and (max-width:732px) {
    h1{
        font-size: 65px;
    }
    p{
        font-size:25px;
    }
    .botoes{
        font-size: 15px;
    }
}

@media screen and (max-width:634px) {
    h1{
        font-size: 55px;
    }
    p{
        font-size:25px;
    }
    .botoes{
        font-size: 13px;
    }
}